{% extends "base.html.twig" %}
{% block body %}
<h1>Hello BackOffice</h1>

<a href="#" id="sort">Voir la liste des questions</a>
    {% for email, forms in groupForm %}
        <ul>
            <ul>{{ email }}
            {% for form in forms %}        
                <li>{{ form }}</li>
                <a href="#" class="check">Cocher</a>
            {% endfor %}
            </ul>
        </ul>
    {% endfor %}
{% endblock %}